---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  autofix:
    # This job is used for main branch's branch protection rule's status check.
    # If all dependent jobs succeed or are skipped this job succeeds.
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
    needs:
      - fix

  fix:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 15
    steps:
      - uses: suzuki-shunsuke/go-autofix-action@fc8b787d69425f2a3c787f999af0655fa540f30e # v0.1.7-1
        with:
          aqua_version: v2.51.1
