---
name: test-main

on:
  push:
    branches: [main]

permissions: {}

jobs:
  test-main:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version-file: go.mod
          cache: true
      - uses: aquaproj/aqua-installer@f13c5d2f0357708d85477aabe50fd3f725528745 # v3.1.0
        with:
          aqua_version: v2.42.2
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: golangci-lint run
      - run: go test -v ./... -race -covermode=atomic
