---
name: test

on: pull_request

permissions: {}

jobs:
  test:
    uses: suzuki-shunsuke/go-test-full-workflow/.github/workflows/test.yaml@def1c74d2b672eaedf25e43b2284f0ab09f345be # v0.1.1
    with:
      aqua_policy_config: aqua-policy.yaml
      aqua_version: v1.34.1
      go-version: 1.20.1
    secrets:
      gh_app_id: ${{secrets.APP_ID}}
      gh_app_private_key: ${{secrets.APP_PRIVATE_KEY}}
    permissions:
      pull-requests: write
      contents: read # To checkout private repository
