name: test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths:
    - '**.go'
    - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17.5'

      - uses: int128/aqua-action@v1
        with:
          version: v0.8.7 # renovate: depName=aquaproj/aqua

      - uses: suzuki-shunsuke/github-action-golangci-lint@v0.1.1
      - name: Test
        run: go test -v -race ./...
