---
name: test-main

on:
  push:
    branches: [main]

permissions: {}

jobs:
  test-main:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: "1.22.2"
          cache: true
      - uses: aquaproj/aqua-installer@4551ec64e21bf0f557c2525135ff0bd2cba40ec7 # v3.0.0
        with:
          aqua_version: v2.27.2
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
      - run: golangci-lint run
      - run: go test -v ./... -race -covermode=atomic
