name: test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths:
    - '**.go'
    - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18.5'

      - uses: aquaproj/aqua-installer@v1.1.1
        with:
          aqua_version: v1.18.0

      - uses: suzuki-shunsuke/github-action-golangci-lint@v0.1.3
      - name: Test
        run: go test -v -race ./...
