name: test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths:
    - '**.go'
    - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17.5'

      - uses: aquaproj/aqua-installer@v0.6.0
        with:
          aqua_version: v0.10.0

      - uses: suzuki-shunsuke/github-action-golangci-lint@v0.1.2
      - name: Test
        run: go test -v -race ./...
